<div class="mainContainer _1DB1" data-reactid="241">
    <div class="Geht" data-reactid="242" *ngIf="title">{{title}}</div>
    <div class="_1_yq" data-reactid="243">
        <div data-reactid="244">
            <div class="_10Am" data-reactid="245">
                <div class="jCqS _19iN" style="left:0%;" data-reactid="246">
                    <div class="_3Xyq" style="width:9.090909090909092%;" data-reactid="247" *ngFor="let item of items">
                        <div class="_17WC" data-reactid="248"><a href="https://paytm.com/movies" class="_1tnO"
                                target="_top" title="Movies" data-reactid="249"><img class="{{class}}"
                                    src="{{item.image}}" alt="Movies" data-reactid="250"><span class="KKNr"
                                    data-reactid="251">{{item.title}}</span></a></div>
                    </div>

                </div>
                <div class="_1JVU _3pq_" data-reactid="310"><span data-reactid="311"></span></div>
            </div>
        </div>
    </div>
</div>