<div class="mainContainer _3c2C" data-reactid="312">
    <div class="_3ZLv" data-reactid="313">
        <div class="_1lrV" data-reactid="314">
            <div class="_1Z9G" data-reactid="315">
                <div class="_3sJ6" data-reactid="320">
                    <div class="IANV" style="width: 900%; left: -700%;" data-reactid="321">
                        <div class="_2EKu" style="width:11.11111111111111%;" data-reactid="327"><a
                                href="https://paytmfirstgames.com/?utm_source=paytm_web&amp;utm_medium=c1_banner&amp;utm_campaign=sms_app_download"
                                title="Win Up to ₹5 Crore | Download App" class="_1_Mr" target="_self"><img
                                    alt="Win Up to ₹5 Crore | Download App"
                                    src="https://assetscdn1.paytm.com/images/catalog/view_item/422912/1579774450399.jpg?imwidth=758&amp;impolicy=hq_80"></a>
                        </div>
                        <div class="_2EKu" style="width:11.11111111111111%;" data-reactid="328"><a
                                href="https://paytm.com/digitalgold" title="Gold Offer | Get Upto Rs 1,500 Goldback"
                                class="_1_Mr" target="_self"><img alt="Gold Offer | Get Upto Rs 1,500 Goldback"
                                    src="https://assetscdn1.paytm.com/images/catalog/view_item/475280/1573455332073.jpg?imwidth=758&amp;impolicy=hq_80"></a>
                        </div>
                        <div class="_2EKu" style="width:11.11111111111111%;" data-reactid="329"><a
                                href="https://paytm.com/offer/3-pe-30-offer/"
                                title="Pay Using Paytm | Flat Rs 30 Cashback" class="_1_Mr" target="_self"><img
                                    alt="Pay Using Paytm | Flat Rs 30 Cashback"
                                    src="https://assetscdn1.paytm.com/images/catalog/view_item/314481/1573455541556.jpg?imwidth=758&amp;impolicy=hq_80"></a>
                        </div>
                        <div class="_2EKu" style="width:11.11111111111111%;" data-reactid="330"><a
                                href="https://www.paytmmoney.com/mutual-funds/elss-funds?utm_source=Paytm&amp;utm_medium=Web_Banner_C1&amp;utm_campaign=ELSS"
                                title="ELSS Funds | Save up to Rs 46,800 in taxes" class="_1_Mr" target="_self"><img
                                    alt="ELSS Funds | Save up to Rs 46,800 in taxes"
                                    src="https://assetscdn1.paytm.com/images/catalog/view_item/496882/1578313060670.png?imwidth=758&amp;impolicy=hq_80"></a>
                        </div>
                        <div class="_2EKu" style="width:11.11111111111111%;" data-reactid="331"><a
                                href="https://paytm.com/flights" title="Flight Ticket | Flat Rs 750 Cashback"
                                class="_1_Mr" target="_self"><img alt="Flight Ticket | Flat Rs 750 Cashback"
                                    src="https://assetscdn1.paytm.com/images/catalog/view_item/483539/1575615408487.jpg?imwidth=758&amp;impolicy=hq_80"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="_2SmH" data-reactid="333">
            <div class="_1DyK
                  " data-reactid="340"><span class="_1JfW" data-reactid="341">Win Up to ₹5 Crore</span><span
                    class="_2DkJ" data-reactid="342">Download App</span></div>
            <div class="_1DyK
                  " data-reactid="343"><span class="_1JfW" data-reactid="344">Gold Offer</span><span class="_2DkJ"
                    data-reactid="345">Get Upto Rs 1,500 Goldback</span></div>
            <div class="_1DyK
                  " data-reactid="346"><span class="_1JfW" data-reactid="347">Pay Using Paytm</span><span class="_2DkJ"
                    data-reactid="348">Flat Rs 30 Cashback</span></div>
            <div class="_1DyK
                  "><span class="_1JfW">ELSS Funds</span><span class="_2DkJ">Save up to Rs 46,800 in taxes</span></div>
            <div class="_1DyK
                  ywGk"><span class="_1JfW">Flight Ticket</span><span class="_2DkJ">Flat Rs 750 Cashback</span></div>
        </div>
    </div>
    <div class="_2WQt" data-reactid="349">
        <div class="_3gjP" data-reactid="350"><a
                href="https://paytmmall.com/oppo-smart-phones-bclpid-33688-66781?src=store&amp;from=storefront"
                title="OPPO Fantastic Days | 27-31 Jan" class="_3syA _2-gi" target="_self" data-reactid="351"><img
                    alt="OPPO Fantastic Days | 27-31 Jan" role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/504706/1580217660112.jpg?imwidth=320&amp;impolicy=hq"></a><a
                href="https://paytmmall.com/oppo-smart-phones-bclpid-33688-66781?src=store&amp;from=storefront"
                title="OPPO Fantastic Days | 27-31 Jan" class="_3syA _2-gi" target="_self" data-reactid="352"><img
                    alt="OPPO Fantastic Days | 27-31 Jan" role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/504707/1580217775074.jpg?imwidth=320&amp;impolicy=hq"></a><a
                href="https://paytm.com/paytm-first-games/download-app?utm_source=paytm_web&amp;utm_medium=side_banner&amp;utm_campaign=sms_app_download"
                title="top left-3" class="_3syA _2-gi" target="_self" data-reactid="353"><img alt="top left-3"
                    role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/423192/1579774706022.jpg?imwidth=320&amp;impolicy=hq"></a><a
                href="https://paytm.com/paytm-first-games/download-app?utm_source=paytm_web&amp;utm_medium=side_banner&amp;utm_campaign=sms_app_download"
                title="bottom left -4" class="_3syA _2-gi" target="_self" data-reactid="354"><img alt="bottom left -4"
                    role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/423195/1579774862923.jpg?imwidth=320&amp;impolicy=hq"></a>
        </div>
        <div class="_3gjP" data-reactid="355"><a
                href="https://paytmmall.com/oppo-smart-phones-bclpid-33688-66781?src=store&amp;from=storefront"
                title="OPPO Fantastic Days | 27-31 Jan" class="_3syA" target="_self" data-reactid="356"><img
                    alt="OPPO Fantastic Days | 27-31 Jan" role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/504726/1580217904594.jpg?imwidth=320&amp;impolicy=hq"></a><a
                href="https://paytmmall.com/oppo-smart-phones-bclpid-33688-66781?src=store&amp;from=storefront"
                title="OPPO Fantastic Days | 27-31 Jan" class="_3syA" target="_self" data-reactid="357"><img
                    alt="OPPO Fantastic Days | 27-31 Jan" role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/504727/1580217962571.jpg?imwidth=320&amp;impolicy=hq"></a><a
                href="https://paytm.com/paytm-first-games/download-app?utm_source=paytm_web&amp;utm_medium=side_banner&amp;utm_campaign=sms_app_download"
                title="top right - 7" class="_3syA" target="_self" data-reactid="358"><img alt="top right - 7"
                    role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/423193/1579774789380.jpg?imwidth=320&amp;impolicy=hq"></a><a
                href="https://paytm.com/paytm-first-games/download-app?utm_source=paytm_web&amp;utm_medium=side_banner&amp;utm_campaign=sms_app_download"
                title="bottom right -8" class="_3syA" target="_self" data-reactid="359"><img alt="bottom right -8"
                    role="presentation" class="_3zME"
                    src="https://assetscdn1.paytm.com/images/catalog/view_item/423196/1579774898692.jpg?imwidth=320&amp;impolicy=hq"></a>
        </div>
    </div>
</div>